fastapi
uvicorn
torch
torchvision
opencv-python
numpy
pandas
scikit-learn
xgboost
pillow
matplotlib
seaborn
pydantic
requests
tqdm
python-multipart
albumentations
scikit-image
segmentation-models-pytorch
huggingface_hub
